#window {
    animation: animation 2s linear infinite alternate;
}

@keyframes animation {
    from {
        transform: rotateX(0deg);
        transform-origin: top;
    }
    to {
        transform: rotateX(15deg);
        transform-origin: bottom;
    }
}